<div class="container-fluid login-container">
  <div class="row justify-content-center align-items-center min-vh-100">
    <div class="col-md-6 col-lg-4">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Connexion à votre compte</h2>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="username" class="form-control" id="username" formControlName="username" placeholder="Entrez votre username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Mot de passe</label>
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Entrez votre mot de passe">
            </div>

            <button   [routerLink]="'/shop'" type="submit" class="btn btn-primary w-100">Se connecter</button>

            <div class="text-center">
              <p>Vous n'avez pas un compte? <a href="/register" class="text-decoration-none">Creer votre compte</a></p>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>



