<!-- Category Selector -->
<h3>Products for {{ categoryName | async }} Category</h3>
<!-- Product List -->
<div class="products" *ngIf="products$ | async as products" >
  <div class="product-card" *ngFor="let product of products">
    <div class="card">
      <h1>{{ product.name }}</h1>
      <img [src]="getProductImage(product.id)" alt="{{ product.name }}" class="product-image" />
      <p class="price">{{ product.price }}MAD</p>
      <p>{{ product.description }}</p>
      <p><button (click)="addToCart(product)">Add to Cart</button></p>
    </div>
  </div>
</div>


