.register-container {
  background: linear-gradient(135deg, #FFE6A9, #FFE6A9);
}

.card {
  border-radius: 15px;
}

.card-title {
  color: #cb9455;
}

.btn-primary {
  background-color: #cb9455;
  border-color: #cb9455;
}

.btn-primary:hover {
  background-color: #cb9455;
  border-color: #cb9455;
}

a {
  color: #cb9455;
}

a:hover {
  color: #cb9455;
}
