
<link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

<nav role="navigation" class="primary-navigation">
  <ul>
    <li><a href="#">Home</a></li>
    <li ><a >shop &dtrif;</a>
      <ul class="dropdown">
        <li *ngFor="let category of categories ">
          <a [routerLink]="['/products', category.id]">
            {{ category.category }}
          </a>
      </ul>
    </li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
